<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codigin - Gerador de Contratos</title>

  <!-- Link CSS -->
  <link rel="stylesheet" href="../styles/client-dashboard.css">

  <!-- Link Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  <!-- Link Google Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

  <div id="container">
    
    <nav id="nav__container">
      <div id="nav__itens">
        <button>
          <div class="nav__icon">
            <span class="material-symbols-sharp">
              home
            </span>
            <p>Home</p>
          </div>
        </button>
        <button>
          <div class="nav__icon">
            <span class="material-symbols-sharp">
              description
            </span>
            <p>Contratos</p>
          </div>
        </button>
      </div>
      <button>
        <div class="nav__icon">
          <span class="material-symbols-sharp">
            logout
          </span>
          <p>Sair</p>
        </div>
      </button>
    </nav>
    <button onclick="activeMenuMobile()" id="menu--mobile"><span class="material-symbols-sharp">menu</span></button>
    <nav id="nav__mobile">
      <button>
        <div class="nav__icon">
          <span class="material-symbols-sharp">
            logout
          </span>
          <p>Sair</p>
        </div>
      </button>
      <button>
        <div class="nav__icon">
          <span class="material-symbols-sharp">
            home
          </span>
          <p>Home</p>
        </div>
      </button>
      <button>
        <div class="nav__icon">
          <span class="material-symbols-sharp">
            description
          </span>
          <p>Contratos</p>
        </div>
      </button>
    </nav>
  </div>

  <script src="./client__dashboard.js"></script>
</body>

</html>