<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codigin - Gerador de Contratos</title>

  <!-- Link CSS -->
  <link rel="stylesheet" href="login.css">

  <!-- Link Google Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- Link Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

</head>

<body>

  <div id="container">

    <div id="login__container">
      <div class="form--input--control">
        <input type="text" required="" id="cliente-nome" class="form--input">
        <span class="material-symbols-sharp form--icon">
          person
        </span>
        <label class="form--label">Nome</label>
      </div>
      <div class="form--input--control">
        <input type="password" required="" id="cliente-senha" class="form--input">
        <span class="material-symbols-sharp form--icon">
          key
        </span>
        <label class="form--label">Senha</label>
      </div>
      <div id="remember__container">
        <input type="checkbox" name="remember" id="remember">
        <span>Lembrar de Mim</span>
      </div>
      <a href="#"><button>Entrar<span class="material-symbols-sharp">
        trending_flat
      </span></button></a>
    </div>
  </div>
  
</body>

</html>