<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codigin - Gerador de Contratos</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">

  <!-- Link Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <!-- Link Google Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
  <!-- Link CSS -->
  <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
  <div id="container">

    <div id="register--container" class="swiper">

      <div id="steps">
        <div id="step1" class="step">1</div>
        <span id="separation--step1"></span>
        <span id="separationb--step1"></span>
        <div id="step2" class="step">2</div>
        <span id="separation--step2"></span>
        <span id="separationb--step2"></span>
        <div class="step">3</div>
      </div>
      <form class="swiper-wrapper" action="../../php/validation/register-validation.php" method="POST" autocomplete="off">
        <div id="login--step1" class="swiper-slide">

          <div class="form--input--control">
            <input type="text" required="" name="usuario-nome" id="usuario-nome" class="form--input">
            <span class="material-symbols-sharp form--icon">person</span>
            <label class="form--label">Nome</label>
          </div>
          <div class="form--input--control">
            <input type="text" required="" name="usuario-sobrenome" id="usuario-sobrenome" class="form--input">
            <span class="material-symbols-sharp form--icon">person</span>
            <label class="form--label">Sobrenome</label>
          </div>
          <div class="form--input--control">
            <input type="text" required="" name="usuario-email" id="usuario-email" class="form--input">
            <span class="material-symbols-sharp form--icon">mail</span>
            <label class="form--label">Email</label>
          </div>
          <div class="form--input--control">
            <input type="password" required="" name="usuario-senha" id="usuario-senha" class="form--input">
            <span class="material-symbols-sharp form--icon">vpn_key</span>
            <label class="form--label">Senha</label>
          </div>
          <div class="form--input--control">
            <input type="password" required="" name="usuario-senha-repeat" id="usuario-senha-repeat" class="form--input">
            <span class="material-symbols-sharp form--icon">vpn_key</span>
            <label class="form--label">Repita a Senha</label>
          </div>
          <div id="password-validate">
            <p>* Min. de 8 caracteres</p>
            <p>* Letra Maiúscula</p>
            <p>* Caráter Especial</p>
          </div>
          <input type="button" value="Próximo" id="step1next">
        </div>

        <div id="login--step2" class="swiper-slide">
        
          <div class="form--input--control">
            <input type="text" required="" name="endereco-cep" id="endereco-cep" class="form--input" onblur="searchCEP()">
            <span class="material-symbols-sharp form--icon">location_on</span>
            <label class="form--label">CEP</label>
          </div>
          <div class="form--input--control">
            <input type="text" required="" name="endereco-rua" id="endereco-rua" class="form--input">
            <span class="material-symbols-sharp form--icon">add_road</span>
            <label class="form--label">Rua</label>
          </div>
          <div class="form--input--control">
            <input type="text" required="" name="endereco-numero" id="endereco-numero" class="form--input">
            <span class="material-symbols-sharp form--icon">tag</span>
            <label class="form--label">Número da Rua</label>
          </div>
          <div class="form--input--control">
            <input type="text" required="" name="endereco-UF" id="endereco-UF" class="form--input">
            <span class="material-symbols-sharp form--icon">tag</span>
            <label class="form--label">UF</label>
          </div>
          <div class="form--input--control">
            <input type="text" required="" name="endereco-bairro" id="endereco-bairro" class="form--input">
            <span class="material-symbols-sharp form--icon">villa</span>
            <label class="form--label">Bairro</label>
          </div>
          <div class="form--input--control">
            <input type="text" required="" name="endereco-referencia" id="endereco-referencia" class="form--input">
            <span class="material-symbols-sharp form--icon">multiple_stop</span>
            <label class="form--label">Referência (Opcional)</label>
          </div>
          <div class="step--buttons">
            <input type="button" value="Voltar" id="step2back">
            <input type="button" value="Próximo" id="step2Next">
          </div>
        </div>

        <div id="login--step3" class="swiper-slide">
        
          <div class="form--input--control">
            <input type="text" required="" name="usuario-celular" id="usuario-celular" class="form--input">
            <span class="material-symbols-sharp form--icon">call</span>
            <label class="form--label">Celular</label>
          </div>
          <div class="form--input--control">
            <input type="text" required="" name="usuario-cpf" id="usuario-cpf" class="form--input">
            <span class="material-symbols-sharp form--icon">contact_page</span>
            <label class="form--label">CPF</label>
          </div>
          <div class="form--input--control">
            <input type="text" required="" name="usuario-cnpj" id="usuario-cnpj" class="form--input">
            <span class="material-symbols-sharp form--icon">contact_page</span>
            <label class="form--label">CNPJ</label>
          </div>
          <div class="step--buttons">
            <input type="button" value="Voltar" id="step3back">
            <input type="submit" value="Concluir" name="enviar" id="step3Next">
          </div>
        </div>
        
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <script src="../../js/classFormMask/classFormMask.js"></script>
  <script src="../../js/validation/register--defineMasks.js"></script>

  <script src="../../js/interactivity/register--swiper.js"></script>
  <script src="../../js/interactivity/register--changeColorSteps.js"></script>
  <script src="../../js/interactivity/register--cepSearch.js"></script>
</body>

</html>